<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="102001" id="ru.car4men.app.client" version="1.0.2" versionCode="102001" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Carmen</name>
    <description>
        Приложение автомойки Carmen
    </description>
    <author email="support@techinform.pro" href="http://techinform.pro">
        Techinform OOO
    </author>
    <content src="index.html" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-installLocation" value="auto" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <plugin name="org.apache.cordova.console" />
    <plugin name="org.apache.cordova.device" />
    <plugin name="org.apache.cordova.device-motion" />
    <plugin name="org.apache.cordova.device-orientation" />
    <plugin name="org.apache.cordova.geolocation" />
    <plugin name="org.apache.cordova.globalization" />
    <plugin name="cordova-plugin-whitelist" />
    <plugin name="cordova-plugin-splashscreen" />
    <plugin name="com.phonegap.plugin.statusbar" source="pgb" spec="1.1.0" />

    <!-- IOS icons and splashes -->
    <icon platform="ios" height="60"  src="res/icon/ios/icon-60.png" width="60"  />
    <icon platform="ios" height="120" src="res/icon/ios/icon-60-2x.png" width="120"  />

    <icon platform="ios" height="76"  src="res/icon/ios/icon-76.png" width="76"/>
    <icon platform="ios" height="152" src="res/icon/ios/icon-76-2x.png" width="152" />

    <icon platform="ios" height="29"  src="res/icon/ios/icon-small.png" width="29" />
    <icon platform="ios" height="58"  src="res/icon/ios/icon-small-2x.png" width="58" />

    <icon platform="ios" height="40"  src="res/icon/ios/icon-40.png"  width="40" />
    <icon platform="ios" height="80"  src="res/icon/ios/icon-40-2x.png" width="80"  />

    <icon platform="ios" height="50"  src="res/icon/ios/icon-50.png"  width="50" />
    <icon platform="ios" height="100"  src="res/icon/ios/icon-100-2x.png" width="100"  />

    <icon platform="ios" height="57" src="res/icon/ios/icon.png" width="57" />
    <icon platform="ios" height="114" src="res/icon/ios/icon-2x.png" width="114" />

    <icon platform="ios" height="72" src="res/icon/ios/icon-72.png" width="72" />
    <icon platform="ios" height="144" src="res/icon/ios/icon-72-2x.png" width="144" />

    <!-- iPhone and iPod touch -->
    <splash src="res/screens/ios/screen-iphone-portrait.png" platform="ios" width="320" height="480" />
    <splash src="res/screens/ios/screen-iphone-portrait-2x.png" platform="ios" width="640" height="960" />

    <!-- iPhone 5 / iPod Touch (5th Generation) -->
    <splash src="res/screens/ios/screen-iphone-portrait-568h-2x.png" platform="ios" width="640" height="1136" />

    <!-- iPhone 6 -->
    <splash src="res/screens/ios/screen-iphone-portrait-667h.png" platform="ios" width="750" height="1334" />
    <splash src="res/screens/ios/screen-iphone-portrait-736h.png" platform="ios" width="1242" height="2208" />

    <!-- iPad -->
    <splash src="res/screens/ios/screen-ipad-portrait.png" platform="ios" width="768" height="1024" />

    <!-- Retina iPad -->
    <splash src="res/screens/ios/screen-ipad-portrait-2x.png" platform="ios" width="1536" height="2048" />

    <icon density="ldpi" platform="android" src="www/icon.png" />
    <icon density="mdpi" platform="android" src="www/icon.png" />
    <icon density="hdpi" platform="android" src="www/icon.png" />
    <icon density="xhdpi" platform="android" src="www/icon.png" />
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="~5.1.1" />
    <preference name="xwalkVersion" value="xwalk_core_library_beta:18+" />
    <preference name="xwalkCommandLine" value="--disable-pull-to-refresh-effect" />
    <preference name="xwalkMode" value="embedded" />
    <preference name="xwalkMultipleApk" value="true" />
</widget>
